<!DOCTYPE html>
<html>
<head>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body{
            background-image: url("https://wallpaperaccess.com/full/1567833.jpg");
        }
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.fa-home {
           color: blanchedalmond;
           font-size: 20px;
           background: #000;
           padding: 15px;
           border-radius: 30px;
       }


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card {
         padding: 20px;
         margin: 20px;
          float: left;
           background-color: aliceblue;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
           max-width: 400px;
           height: 400px;
           text-align: center;
           font-family: arial;
       }
       .button{
           padding: 10px 30px;
           background-color: rgb(19, 241, 149);
           cursor: pointer;
          font-size: 16px;

       }
</style>
</head>
<body>
<a href="/home"> <i class="fa fa-home"></i></a>
<h2>Purchase</h2>
<hr>

<div class="card">
  <img src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_960_720.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>4$</b></h4> 
    <button class="button">Buy</button>
  </div>
</div>

<div class="card">
    <img src="https://media.istockphoto.com/photos/horses-grazing-the-grass-on-a-foggy-morning-picture-id503804250?k=20&m=503804250&s=612x612&w=0&h=6GkButNTLDswqVBXwza9btdUoLPAcqKmXJTtPOnPyRI=" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>6.5$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZloNdGFOmWmo65VOGlX6yXAKxy6Oxwr-1RaEG7UL4kgkggfRJu-Ig9PMHEjHm3yZNbnY&usqp=CAU" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>8$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/06/19/20/13/sunset-815270_960_720.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>7.56$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2013/04/03/21/25/flower-100263_960_720.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>7$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2014/01/22/19/44/flower-field-250016_960_720.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>9$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2022/04/24/09/34/blackbird-7153234__340.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>10$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2022/04/21/19/47/lion-7148207__340.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>40$</b></h4> 
      <button class="button">Buy</button>
    </div>
  </div>


</body>
</html> 
